* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid grey;
  width: 100%;
  outline: none;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
}