* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

.drop-zone-wrap {
  border: 1px solid grey;
  padding: 10px;
}

.drop-zone {
  border: 2px dashed grey;
}

.tips {
  text-align: center;
  line-height: 5;
}