<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .flex {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .flex-item {
            box-sizing: border-box;
            width: 25%;
            /* flex: 25%; */
            margin-bottom: 10px;
            border: 1px solid orangered;
        }
    </style>
</head>

<body>
    <div class="flex">
        <div class="flex-item">1</div>
        <div class="flex-item">2</div>
        <div class="flex-item">3</div>
        <div class="flex-item">4</div>
        <div class="flex-item">5</div>
        <div class="flex-item">6</div>
    </div>
</body>

</html>