.usual,
.other {
  box-sizing: border-box;
  height: 300px;
  border: 1px solid orange;
  padding: 1px;
  margin: 1px;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.touch {
  border: 1px solid blue;
  padding: 1px;
  margin: 1px;
  width: 80px;
  height: 40px;
}