div {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    background-color: red;
}

.semi-circle {
    height: 50px;
    border-radius: 50px 50px 0 0;
}

.sector {
    width: 50px;
    height: 50px;
    border-radius: 50px 0 0 0;
}

.arc {
    border-radius: 100px 0;
}