.not-fill {
  width: 27px;
  height: 27px;
  border: 27px solid transparent;
  border-image-source: url(/common/image/box.png);
  border-image-slice: 27;
  margin: 10px;
}

.fill {
  width: 27px;
  height: 27px;
  border: 27px solid transparent;
  border-image-source: url(/common/image/box.png);
  border-image-slice: 27 fill;
  margin: 10px;
}
