div {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 16px;
  background-image: url('./demo03.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}

div.inherit::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  bottom: -100%;
  background-image: inherit;
  transform: rotateX(180deg)
}