div {
    width: 200px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
}

div.background-clip {
    border: 10px dashed indigo;
    background: orange;
    background-clip: content-box;
}

div.pseudo {
    position: relative;
    background: white;
    background-clip: padding-box;
    border: 10px dashed indigo;
}

div.pseudo::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: orangered;
    z-index: -1;
}