*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

html,body{
  width: 100%;
  height: 100%;
}

.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 200px !important;
  height: 200px !important;
}

.lds-spinner div {
  left: 98px;
  top: 60px;
  position: absolute;
  animation: lds-spinner linear 1s infinite;
  background: #000;
  width: 4px;
  height: 16px;
  border-radius: 0%;
  transform-origin: 2px 40px;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.875s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.75s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.625s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.375s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.25s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.125s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
}