<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="grid02.css">
</head>

<body>
  <div class="grid container">
    <header class="grid-item header">header</header>
    <menu class="grid-item menu">menu</menu>
    <main class="grid-item content">content</main>
    <footer class="grid-item footer">footer</footer>
  </div>
</body>

</html>