* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid grey;
  width: 100%;
  outline: none;
}

.progress-bar {
  padding: 3px;
  border: 1px solid #000;
  opacity: 0;
  transition: opacity 1s linear;
}

.progress-bar.loading {
  opacity: 1;
}

.progress-bar .progress {
  background: orangered;
  height: auto;
  width: 0;
}